.header-nav{
  border-bottom: none;
}
.row-header{
  padding-bottom: 22px;
  margin-top:-75px;
}
.row-header-icon{
  padding-top: 25px;
}
.a-header:hover{
  color:#DFE2EA;
  text-decoration: none;
}
.a-header:visited{
  color:#DFE2EA;
}
.logo{
  padding-left: 30px;
  margin-top:20px;
  font-size: 22px;
}
.header-icon{
  display: inline;
}
.header-bg{
  background-color: #F2F2F2;
  opacity: 0.1;
  height:75px;
  width:100%;
}